<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.moko.mkmini0232d.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MKMINI02_32D">

        <activity
            android:name="com.moko.mkmini0232d.activity.GuideActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.mkmini0232d.activity.MainActivityMiNi0232D"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.MqttSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkmini0232d.activity.SetAppMQTTActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkmini0232d.activity.ModifyNameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkmini0232d.activity.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.DeviceScannerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.DeviceDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.DeviceSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.DeviceInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.OTAActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.IndicatorSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.CommunicationTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.NetworkReportIntervalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.DuplicateDataFilterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.ScannerUploadOptionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterMacAddressActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterAdvNameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterRawDataSwitchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterIBeaconActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterUIDActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterUrlActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterTLMActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterOtherActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.upload.UploadDataOptionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.SyncTimeFromNTPActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.SystemTimeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.modify.ModifyMQTTSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.DeviceConfigActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.WifiSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.NtpSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.ScannerFilterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.DeviceInformationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.BleManagerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.BleManagerV2Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPButtonInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BleOtherInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.ReconnectTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterBXPButtonActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterBXPTagActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterPIRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.modify.ModifySettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.modify.ModifyWifiSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.settings.ButtonResetActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BeaconDFUActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkmini0232d.activity.add.AdvertiseIBeaconActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPCActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.THDataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.moko.mkmini0232d.activity.add.AdvSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.add.ScanAndUploadActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkmini0232d.activity.add.NearbyWifiActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.upload.UploadDataIntervalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterMKTOFActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.filter.FilterNanoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPBDActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BeaconDFUv2Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPBDRemoteReminderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPAccActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPBAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPBCRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPBCRRemoteReminderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPCRAlarmEventActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPCTHSampleRateActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPDActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPDAccParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPTActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPTRemoteReminderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPTMotionEventActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPTAccParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPTAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPSHallEventActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPSActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPSAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.BXPSTHHistoryDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKPIRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKPIRSensorDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKPIRSensorParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKTOFActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKTOFSensorDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKTOFSensorParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkmini0232d.activity.beacon.MKTOFAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.mkmini0232d.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
